/* Selectors */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p {
  line-height: 1.5rem;
  text-align: justify;
}

/* Containers */
.container-fluid {
  padding: 5% 10%;
}

.limit-width {
  margin: auto;
  max-width: 1200px;
}

/* Sections */
.top-section {
  padding-top: 70px;
}

.left-section {
  text-align: left;
}

.dark-section {
  background-color: #3fc1c9;
}

.light-section {
  background-color: #f5f5f5;
}

.card-section {
  padding: 10px;
  text-align: left;
}

.footer-section {
  background-color: #364f6b;
  color: darkgrey;
}

.top-section-para {
  margin: auto;
  width: 60%;
}

.title-para {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: auto;
}

/* Headings */
.big-heading {
  font-weight: 600;
}

.section-heading {
  margin-bottom: 50px;
}

/* Navigation */
.navbar-custom {
  background-color: #364f6b;
  padding: 0.5% 10%;
}

.nav-item {
  margin: 0 5px;
}

/* Index */
#profile-picture {
  margin: 20px auto 40px;
}

/* Career */
.career-section {
  border: 1px solid;
  padding: 10px;
  text-align: left;
}

@media (min-width: 992px) {
  .monitor-margin {
    margin-right: 30%;
  }
}

@media (max-width: 992px) {
  .floating-menu {
    display: none;
  }
}

.career-nav-point {
  padding-top: 70px;
  margin-top: -70px;
}

.employer {
  font-weight: bold;
  margin-top: 30px;
}

.job-dates {
  font-style: italic;
  margin-top: 0;
}

.job-title {
  margin-top: 30px;
}

.card {
  margin-bottom: 20px;
}

.floating-menu {
  background-color: #364f6b;
  padding: 10px;
  position: fixed;
  right: 10%;
  top: 45%;
  text-align: left;
}

.internal-anchor {
  color: #fff;
  text-decoration: none;
}

/* Reading */

.book-thumb {
  float: left;
  margin-right: 10px;
}

.book-review {
  margin-bottom: 10px;
}

/* Web Development */
.image-link {
  text-decoration: none;
}

.site-image {
  height: 200px;
  width: 180px;
  margin: 0 20px 20px 0;
}

/* Footer */
.footer-para {
  text-align: center;
}